<form
  #signupForm="ngForm"
  (ngSubmit)="onSignup(signupForm)"
  class="signup-form"
>
  <h2>Welcome on board!</h2>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="form-group">
    <div class="control">
      <label for="email">Email</label>
      <div class="input-wrapper">
        <input
          id="email"
          type="email"
          name="email"
          ngModel
          #email="ngModel"
          required
          email
          [class.invalid]="email.invalid && email.touched"
        />
      </div>
      @if (email.invalid && email.touched) {
      <div class="control-error">
        @if (email.errors?.['required']) {
        <span>Email is required</span>
        } @if (email.errors?.['email']) {
        <span>Please enter a valid email address</span>
        }
      </div>
      }
    </div>

    <div class="control-row">
      <div class="control">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <input
            id="password"
            type="password"
            name="password"
            ngModel
            #password="ngModel"
            required
            minlength="8"
            [class.invalid]="password.invalid && password.touched"
          />
        </div>
        @if (password.invalid && password.touched) {
        <div class="control-error">
          @if (password.errors?.['required']) {
          <span>Password is required</span>
          } @if (password.errors?.['minlength']) {
          <span>Password must be at least 8 characters</span>
          }
        </div>
        }
      </div>

      <div class="control">
        <label for="confirm-password">Confirm Password</label>
        <div class="input-wrapper">
          <input
            id="confirm-password"
            type="password"
            name="confirmPassword"
            ngModel
            #confirmPassword="ngModel"
            required
            [class.invalid]="
              (confirmPassword.invalid ||
                signupForm.value.password !==
                  signupForm.value.confirmPassword) &&
              confirmPassword.touched
            "
          />
        </div>
        @if (confirmPassword.invalid && confirmPassword.touched) {
        <div class="control-error">
          @if (confirmPassword.errors?.['required']) {
          <span>Please confirm your password</span>
          }
        </div>
        } @if (signupForm.value.password && signupForm.value.confirmPassword &&
        signupForm.value.password !== signupForm.value.confirmPassword &&
        confirmPassword.touched) {
        <div class="control-error">
          <span>Passwords do not match</span>
        </div>
        }
      </div>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="control-row">
      <div class="control">
        <label for="first-name">First Name</label>
        <div class="input-wrapper">
          <input
            type="text"
            id="first-name"
            name="firstName"
            ngModel
            #firstName="ngModel"
            required
            [class.invalid]="firstName.invalid && firstName.touched"
          />
        </div>
        @if (firstName.invalid && firstName.touched) {
        <div class="control-error">
          <span>First name is required</span>
        </div>
        }
      </div>

      <div class="control">
        <label for="last-name">Last Name</label>
        <div class="input-wrapper">
          <input
            type="text"
            id="last-name"
            name="lastName"
            ngModel
            #lastName="ngModel"
            required
            [class.invalid]="lastName.invalid && lastName.touched"
          />
        </div>
        @if (lastName.invalid && lastName.touched) {
        <div class="control-error">
          <span>Last name is required</span>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="form-group">
    <fieldset>
      <legend>Your Address</legend>

      <div class="control-row">
        <div class="control">
          <label for="street">Street</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="street"
              name="street"
              ngModel
              #street="ngModel"
              required
              [class.invalid]="street.invalid && street.touched"
            />
          </div>
          @if (street.invalid && street.touched) {
          <div class="control-error">
            <span>Street is required</span>
          </div>
          }
        </div>

        <div class="control">
          <label for="number">Number</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="number"
              name="number"
              ngModel
              #number="ngModel"
              required
              [class.invalid]="number.invalid && number.touched"
            />
          </div>
          @if (number.invalid && number.touched) {
          <div class="control-error">
            <span>Number is required</span>
          </div>
          }
        </div>
      </div>

      <div class="control-row">
        <div class="control">
          <label for="postal-code">Postal Code</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="postal-code"
              name="postalCode"
              ngModel
              #postalCode="ngModel"
              required
              [class.invalid]="postalCode.invalid && postalCode.touched"
            />
          </div>
          @if (postalCode.invalid && postalCode.touched) {
          <div class="control-error">
            <span>Postal code is required</span>
          </div>
          }
        </div>

        <div class="control">
          <label for="city">City</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="city"
              name="city"
              ngModel
              #city="ngModel"
              required
              [class.invalid]="city.invalid && city.touched"
            />
          </div>
          @if (city.invalid && city.touched) {
          <div class="control-error">
            <span>City is required</span>
          </div>
          }
        </div>
      </div>
    </fieldset>
  </div>

  <hr />

  <div class="form-group">
    <div class="control-row">
      <div class="control">
        <label for="role">What best describes your role?</label>
        <div class="input-wrapper">
          <select
            id="role"
            name="role"
            ngModel
            #role="ngModel"
            required
            [class.invalid]="role.invalid && role.touched"
          >
            <option value="">Select your role</option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="employee">Employee</option>
            <option value="founder">Founder</option>
            <option value="other">Other</option>
          </select>
        </div>
        @if (role.invalid && role.touched) {
        <div class="control-error">
          <span>Please select your role</span>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="form-group">
    <fieldset>
      <legend>How did you find us?</legend>
      <div class="control">
        <input
          type="checkbox"
          id="google"
          name="google"
          ngModel
          #google="ngModel"
        />
        <label for="google">Google</label>
      </div>

      <div class="control">
        <input
          type="checkbox"
          id="friend"
          name="friend"
          ngModel
          #friend="ngModel"
        />
        <label for="friend">Referred by friend</label>
      </div>

      <div class="control">
        <input
          type="checkbox"
          id="other-source"
          name="otherSource"
          ngModel
          #otherSource="ngModel"
        />
        <label for="other-source">Other</label>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <div class="control">
      <label for="terms-and-conditions">
        <input
          type="checkbox"
          id="terms-and-conditions"
          name="terms"
          ngModel
          #terms="ngModel"
          required
          [class.invalid]="terms.invalid && terms.touched"
        />
        I agree to the terms and conditions
      </label>
      @if (terms.invalid && terms.touched) {
      <div class="checkbox-error">
        <span>You must accept the terms and conditions</span>
      </div>
      }
    </div>
  </div>

  @if ((email.touched && password.touched && confirmPassword.touched &&
  firstName.touched && lastName.touched) &&
  signupForm.invalid) {
  <div class="form-error">Please fix the errors above before submitting.</div>
  }

  <div class="form-actions">
    <button type="reset" class="button button-flat">Reset</button>
    <button type="submit" class="button" [disabled]="signupForm.invalid">
      Sign up
    </button>
  </div>
</form>
